* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    position: relative;
}

head {
    background: #0083b5;
}

body {
    background: #000000;
    color: #ffffff
}

nav {
    height: 40px;
    width: 960px;
    display: block;
    margin: 0 auto;
    text-align: center;
    position: center;
}

    nav a {
        display: block;
        text-decoration: none;
        font-family: Impact;
        font-size: 16px;
        color: #ffffff;
    }

        nav a:hover {
            background: #144800;
            color: aliceblue;
        }

    nav ul {
        list-style: none;
    }

        nav ul li {
            float: left;
            width: 120px;
            height: 40px;
            line-height: 40px;
            background: #000000;
        }
        /*Skjuler underkategorier fra Navigations-Linjen*/
        nav ul ul li {
            position: relative;
            display: none;
        }
        /*Viser hovedunderkategorier*/
        nav ul:hover ul li {
            position: relative;
            display: block;
        }

            nav ul:hover ul li li li {
                position: relative;
                display: none;
            }
        /*Skjuler Underunderkategorier*/
        nav ul ul ul {
            position: relative;
            display: none;
        }
        /*Viser under-underkategorier*/
        nav ul ul:hover ul {
            position: relative;
            display: block;
        }

        nav ul ul li:hover li {
            position: relative;
            display: none;
        }

        nav ul ul ul li li li {
            position: static;
            display: none;
        }

        nav ul ul:hover ul li {
            position: relative;
            display: block;
        }
