*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
 }
@keyframes h3
{
    from {
        color: #00b9ff;
    }
}
html
{
    height: 100%;
}
.wrapper
{
    min-height: 100%;
    width: 100%;
    position: relative;
}
head 
{
    background: #0083b5;
}
body
{
    height: 100%;
    background: #000000;
    color: #ffffff
}
h2 {
    position: absolute;
    height: 14px;
    background: #0083b5;
    color: #ffffff;
    font-size: 12px;
    width: 31px;
    left: 189.2px;
}
h3 {
    position: center;
    width: 220px;
    height: 14px;
    background: #00b9ff;
    font-size: 11px;
    color: #ffffff;
    font-family: 'Trebuchet MS';
    animation-name: h3;
    animation-duration: 4s;
}
h4 {
    position: relative;
    width: 220px;
    height: 14px;
    background: #0081b2;
    font-size: 11px;
    color: #ffffff;
    font-family: 'Trebuchet MS';
}
h5 {
    font-size: 12px;
    color: #ffffff;
    background: #0094fa;
    width: 189px;
    height: 14px;
    position: relative;
    font-family: 'Trebuchet MS';
}
nav
{
    height: 40px;
    width: 960px;
    display: block;
    margin:0 auto;
    text-align: center;
    position: center;
}
    nav a {
        display: block;
        text-decoration: none;
        font-family: Impact;
        font-size: 16px;
        color: #ffffff;
    }
        nav a:hover {
            background: #144800;
            color: aliceblue;
        }
nav ul
{
    list-style: none;
}
nav ul li
{
    float:left;
    width:120px;
    height:40px;
    line-height: 40px;
    background:#000000;
}
/*Skjuler underkategorier fra Navigations-Linjen*/
nav ul ul li
{
    position:relative;
    display:none;
}
/*Viser hovedunderkategorier*/
nav ul:hover ul li 
 {
        position: relative;
        display: block;
 }
nav ul:hover ul li li li
 {
        position: relative;
        display: none;
 }
/*Skjuler Underunderkategorier*/
nav ul ul ul
{
    position:relative;
    display: none;
}
/*Viser under-underkategorier*/
nav ul ul:hover ul
{
    position:relative;
    display: block;
}
nav ul ul li:hover li
{
    position: relative;
    display: none;
}
nav ul ul ul li li li
{
    position: static;
    display: none;   
}
nav ul ul:hover ul li
{
    position: relative;
    display: block;
}
